h1 {
    color: red;
    font-size: 100pt;
    text-align: center;
    text-shadow: blue 1px 10px 10px;
}

body {
    margin: 0;
    border: 0;
    background-image: url(https://media.tenor.com/Ow4aJ_k2rgkAAAAM/cat-monday-left-me-broken-cat.gif);
}

.banner {
    width: 10vw;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 80%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
}

.banner .content p {
    font-size: 1.5em;
    color: #ffff;
}

.banner .content img {
    width: 40px;
    height: 40px;
}